<div class="row" ng-controller="analyticsCntrl">

			<div class="btn-group pull-left">
  				<form name="filterForm" ng-submit="submitForm(filterForm.$valid)"  novalidate="true">
  				<label for="date">Date:</label>
  				<input type="date" ng-model="date" id="date" class="form-control">
  				<label for="time_from">From:</label>
  				<input type="time" ng-model="fromTime" name="" id="time_from" class="form-control">
  				<label for="time_to">To:</label>
  				<input type="time" ng-model="toTime" name="" id="time_to" class="form-control">
  				<!-- <label for="flight_no">Flight Number:</label>
  				<input type="text" name="" id="flight_no" class="form-control"> -->
 				<br> 

 				<button type="submit" class="btn btn-md btn-danger" id="newdata">Filter </button>
 				</form>

 					<br><br>

  				
  			</div>
  <div class="btn-group pull-left" >---------------------------</div>

  <div id="mbars">
  <div class="spinner" ng-show="loading"></div>
  
	</div>

</div>


